<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <div class="container">
            <div class="row"></div>
            <div class="row row-cols-6" >
                <a th:href="@{/}" class="btn btn-primary">
                    <i class='fas fa-reply'></i> [[#{accion.regresar}]]</a>
            </div>
            <div class="row"></div>
            <div class="row row-cols-3">
                <div class="card">
                    <div class="card-header text-center">
                        Reporte usuarios
                    </div>
                    <div class="card-body">
                        <a th:href="@{/reportes/usuarios?tipo=vPdf}" class="btn btn-primary">
                            <i class='fas fa-eye'></i><i class='fas fa-file-pdf'></i>
                        </a>
                        <a th:href="@{/reportes/usuarios?tipo=Pdf}" class="btn btn-success">
                            <i class='fas fa-download'></i><i class='fas fa-file-pdf'></i>
                        </a>
                        <a th:href="@{/reportes/usuarios?tipo=Xls}" class="btn btn-warning">
                            <i class='fas fa-download'></i><i class='fas fa-file-excel'></i>
                        </a>
                        <a th:href="@{/reportes/usuarios?tipo=Csv}" class="btn btn-danger">
                            <i class='fas fa-download'></i><i class='fas fa-file-csv'></i>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header text-center">
                        Reporte ventas
                    </div>
                    <div class="card-body">
                        <a th:href="@{/reportes/ventas?tipo=vPdf}" class="btn btn-primary">
                            <i class='fas fa-eye'></i><i class='fas fa-file-pdf'></i>
                        </a>
                        <a th:href="@{/reportes/ventas?tipo=Pdf}" class="btn btn-success">
                            <i class='fas fa-download'></i><i class='fas fa-file-pdf'></i>
                        </a>
                        <a th:href="@{/reportes/ventas?tipo=Xls}" class="btn btn-warning">
                            <i class='fas fa-download'></i><i class='fas fa-file-excel'></i>
                        </a>
                        <a th:href="@{/reportes/ventas?tipo=Csv}" class="btn btn-danger">
                            <i class='fas fa-download'></i><i class='fas fa-file-csv'></i>
                        </a>
                    </div>
                </div>                
                <div class="card">
                    <div class="card-header text-center">
                        Ventas totales
                    </div>
                    <div class="card-body">
                        <div class="card-header">
                            <h4>Ventas Totales</h4>
                        </div>
                        <div class="card-body">
                            <form method="GET"
                                  th:action="@{/reportes/ventasTotales}" 
                                  class="was-validated">

                                <div class="mb-3">
                                    <label for="fechaInicio">Fecha Inicio</label>
                                    <input type="date" class="form-control" 
                                           name="fechaInicio"
                                           th:value="${fechaInicio}"
                                           required="true"/>
                                </div>                                
                                <div class="mb-3">
                                    <label for="fechaFin">Fecha Fin</label>
                                    <input type="date" class="form-control" 
                                           name="fechaFin"
                                           th:value="${fechaFin}"
                                           required="true"/>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 d-grid">
                                        <button name="tipo" value="vPdf" type="submit" class="btn btn-primary">
                                            <i class='fas fa-eye'></i><i class='fas fa-file-pdf'></i>
                                        </button>
                                    </div>
                                    <div class="col-md-3 d-grid">    
                                        <button name="tipo" value="Pdf" type="submit" class="btn btn-success">
                                            <i class='fas fa-download'></i><i class='fas fa-file-pdf'></i>
                                        </button>
                                    </div>
                                    <div class="col-md-3 d-grid">    
                                        <button name="tipo" value="Xls" type="submit" class="btn btn-warning">
                                            <i class='fas fa-download'></i><i class='fas fa-file-excel'></i>
                                        </button>
                                    </div>
                                    <div class="col-md-3 d-grid">    
                                        <button name="tipo" value="Xls" type="submit" class="btn btn-danger">
                                            <i class='fas fa-download'></i><i class='fas fa-file-csv'></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="~{layout/plantilla :: footer}"/>         
    </body>
</html>